<div class="container-fluid budka-footer">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row">
        <div class="col-12 text-center py-5">
          <i class="mx-2 bi bi-facebook"></i>
          <i class="mx-2 bi bi-instagram"></i>
          <i class="mx-2 bi bi-twitter"></i>
          <i class="mx-2 bi bi-youtube"></i>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-12">
              <p class="m-1">
                <a href="x">Audio and Subtitles</a>
              </p>
              <p class="m-1">
                <a href="x">Media Center</a>
              </p>
              <p class="m-1">
                <a href="x">Privacy</a>
              </p>
              <p class="m-1">
                <a href="x">Contact us</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-xs-12">
              <p class="m-1">
                <a href="x">Audio Description</a>
              </p>
              <p class="m-1">
                <a href="x">Investor Relations</a>
              </p>
              <p class="m-1">
                <a href="x">Legal Notices</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-12">
              <p class="m-1">
                <a href="x">Help Center</a>
              </p>
              <p class="m-1">
                <a href="x">Jobs</a>
              </p>
              <p class="m-1">
                <a href="x">Cookie Preferences</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-12">
              <p class="m-1">
                <a href="x">Gift Cards</a>
              </p>
              <p class="m-1">
                <a href="x">Terms of Use</a>
              </p>
              <p class="m-1">
                <a href="x">Corporate Information</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-left mb-2 col-12">
          <Button
            type="button"
            class="text-light border-light btn btn-sm footer-button rounded-0 mt-3 budka-button"
          >
            Service Code
          </Button>
        </div>
      </div>
      <div class="row">
        <div>
          <small>© 1997-2022 Netflix, Inc.</small>
        </div>
      </div>
    </div>
  </div>
</div>
